{% load staticfiles %}
<!doctype html>
<html>
<head>
	<!-- ## SITE META ## -->
	<meta charset="utf-8">
	<title>{{config.title}} - {{ event.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="./includes/img/placeholder/favicon.ico">

	<!-- ## LOAD STYLSHEETS ## -->
    <link rel="stylesheet" href="{% static 'css/event/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/event/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'css/event/architecture.css' %}">
    <link rel="stylesheet" href="{% static 'css/event/icon-fonts/fontello.css' %}">

		{% include "event/base/style_view_event.html" %}

	<!-- ## GOOGLE FONTS ## -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

</head>

<body>

<!-- ## HEADER ## -->
<header id="qcHeader">
	<div class="row">

		<!-- ## LOGO ## -->
		<div id="qcLogo" class="col-6 col">
			<a href={% url 'events:event_view_home' 'home' event.id %}><img src="{{config.logo.url}}" alt="" width="140" height="100" /></a>
		</div>

		<!-- ## SITE NAVIGATION ## -->
		<nav id="qcPriNav" class="col-6 col">
			<ul class="clearfix">
				<li class="current"><a href={% url 'events:event_view_home' 'details' event.id %}><i class="icon-calendar-2 icon"></i> <span>Detalles del evento</span></a></li>
				<li><a href={% url 'events:event_view_home' 'tickets' event.id %}><i class="icon-ticket icon"></i> <span>Comprar Tickets</span></a></li>
			</ul>
		</nav>

	</div>
</header>
<!-- ## HEADER END ## -->


<!-- ## CONTENT WRAPPER ## -->
<div id="qcContentWrapper">

	<!-- ## PAGE TITLE ## -->
	<section id="qcSecbar">
		<div class="qcContainer">
			<h1>{{ event.title }}. <span>By: {{ event.user.first_name }} {{ event.user.last_name }}</span></h1>
		</div>
	</section>

	<!-- ## PAGE CONTENT ## -->
	<section id="qcContent">
		<div class="qcContainer">

			<!-- ## MOB NAV ## -->
			<div id="qcMbTrigger"></div>

			<!-- ## TABS ## -->
			<div id="qcTabs" class="tabs">

				<!-- ## TAB NAV ## -->
				<ul id="qcTabNav" class="clearfix">
					<li><a href="#tab-1"><i class="icon-book-open icon"></i> <span>Acerca de</span></a></li>
					{% if schedules %}<li><a href="#tab-2"><i class="icon-clock-1 icon"></i> <span>Cronograma</span></a></li>{% endif %}
					<li><a href="#tab-3"><i class="icon-user-add icon"></i> <span>Invitados</span></a></li>
					<li><a href="#tab-4"><i class="icon-map icon"></i> <span>Lugar</span></a></li>
					<li><a href="#tab-5"><i class="icon-picture icon"></i> <span>Galeria</span></a></li>
				</ul>


				<!-- ===============================================

					PAGE 1 - ABOUT

				=============================================== -->
				<div id="tab-1" class="qcTabPage clearfix">

					<!-- ## ROW ## -->
					<div class="stretch row clearfix">

						<!-- ## TAB TITLE & DESC ## -->
						<div class="col-4 col">
							<div class="qcTabTitle">
								<h4>Acerca de<span>{{ event.title }}</span></h4>
							</div>
							<p class="qcPageDesc" style="text-align: justify !important;">{{ event.description }}</p>
						</div>

						<!-- ## SLIDER ## -->
						<div class="col-8 col">
							<div class="video box no-border">
								<div class="qcSliderWrapper">
									<ul class="single-carousel owl-carousel">
				                        {% for image in images %}
                                            <li>
                                                <img src="{{ image.image.url }}" alt="" />
                                            </li>
				                        {% endfor %}

									</ul>

									<!-- ## SLIDER NEXT PREV ## -->
									<div class="qcPrevNext">
										<div class="qcPrev"><i class="icon-left-open-big"></i></div>
										<div class="qcNext"><i class="icon-right-open-big"></i></div>
									</div>
								</div>
								<!-- ## SLIDER END ## -->

							</div>
						</div>

					</div>
					<!-- ## ROW END ## -->

					{% if planner %}
					<!-- ## ROW ## -->
					<div class="dblBorder">
						<div class="row clearfix">
							<div class="col-12 col">
								<!-- ## PLANNERS ## -->
								<div class="testimonial qcEventlayout clearfix">
									<div class="col-6 col">

										<!-- ## PLANNERS LIST ## -->
										<ul id="qcTestimonialList" class="clearfix">
                                            {% for pl in planner %}
                                                <li>
                                                    <a href="#" class="active" data-content="{{ pl.description|slice:":120" }}..." data-cite="{{ pl.name }}">
                                                        <img src="{{ pl.image.url }}" alt="" />
                                                    </a>
                                                </li>
                                            {% endfor %}
										</ul>
										<!-- ## PLANNERS LIST END ## -->
									</div>
									<div class="col-6 col">
										<div id="qcTestimonial">
											<p></p>
											<cite></cite>
										</div>
									</div>
								</div>
								<!-- ## PLANNERS END ## -->
							</div>
						</div>
					</div>
					<!-- ## ROW END ## -->
					{% endif %}
				</div>
				<!-- ## PAGE 1 END ## -->



				<!-- ===============================================

					PAGE 2 - SCHEDULE

				=============================================== -->
				<div id="tab-2" class="qcTabPage clearfix">

					<!-- ## ROW ## -->
					<div class="row clearfix">

						<!-- ## TAB TITLE ## -->
						<div class="col-4 col">
							<div class="qcTabTitle no-border">
								<h4>Cronograma<span> Cronograma para el evento {{ event.title }}</span></h4>
							</div>
						</div>

						<!-- ## TAB DESC ## -->
						<div class="col-8 col">
							<div class="box no-border nopad">
								<p class="qcPageDesc full">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, accusamus, sed, necessitatibus ea nemo hic molestias amet tempora fuga pariatur officia itaque eum quis rerum aliquam minus illo nulla laborum!</p>
							</div>
						</div>

					</div>
					<!-- ## ROW END ## -->

					<!-- ## ROW ## -->
					<div class="dblBorder">
						<div class="row clearfix">
							<div class="col-12 col">

								<!-- ## SCHEDULE LIST ## -->
								<div id="qcScheduleWrapper">

									<!-- ## DAY 1 ## -->

									<div class="qcScheduleDay">
										<header class="qcSchDay">
											<p>Inicio {{ event.title }}</p>
										</header>
										<ul class="qcScheduleList clearfix">
                                            {% for schedule in schedules %}
                                                <li>
                                                    <a href="#" class="tips" title="{{ schedule.title }}">
                                                        <img src="{{ schedule.image.url }}" alt="" />
                                                        <div class="qcSchDesc">
                                                            <p class="qcSchTime">{{ schedule.start_time }} <sup>{{ schedule.start_date }}</sup></p>
                                                            <p class="qcSchSpeaker">{{ schedule.title }}</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        <header class="qcSchDay">
											<p>Final {{ event.title }}</p>
										</header>
										</ul>
									</div>
									<!-- ## DAY 1 END ## -->

								</div>
								<!-- ## SCHEDULE LIST END ## -->

							</div>
						</div>
					</div>
					<!-- ## ROW END ## -->


				</div>
				<!-- ## PAGE 2 END ## -->



				<!-- ===============================================

					PAGE 3 - SPEAKERS

				=============================================== -->
				<div id="tab-3" class="qcTabPage clearfix">

					<!-- ## ROW ## -->
					<div class="speakers row clearfix">

						<!-- ## TAB TITLE & DESC ## -->
						<div class="col-4 col">
							<div class="qcTabTitle">
								<h4>Invitados<span> {{ event.title }}</span></h4>
							</div>
							<p class="qcPageDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, accusamus, sed, necessitatibus ea nemo hic molestias amet tempora fuga pariatur officia itaque eum quis rerum aliquam minus illo nulla laborum!</p>
						</div>

						<!-- ## SPEAKERS ## -->
						<div class="col-8 col">
							<div class="box no-border nopad">

								<!-- ## SPEAKERS LIST ## -->
								<ul class="3-col-carousel owl-carousel qcTeamCol row">
									<!-- ## SPEAKER 1 ## -->
                                    {% for guest in guests %}
                                        <li>
                                            <div class="small-box">
                                                <img style="width: 240px; height: 300px;" src="{{ guest.image.url }}" alt="Team-1" title="http://photodune.net/item/smart-teacher/856363?WT.ac=search_thumb&WT.oss_phrase=smart%20&WT.oss_rank=65&WT.z_author=Pressmaster"/>
                                                <h4>{{ guest.name }}</h4>
                                                <p>Director, Founder</p>
                                                <ul class="qcGlyphSocial clearfix">
                                                    <li><a href="#" class="tips" title="FACEBOOK"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="#" class="tips" title="TWITTER"><i class="icon-twitter"></i></a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}

								</ul>
								<!-- ## SPEAKERS LIST END ## -->

							</div>
						</div>
						<!-- ## SPEAKERS END ## -->

					</div>
					<!-- ## ROW END ## -->

					{% if sponsors %}
					<!-- ## ROW ## -->
					<div class="dblBorder">
						<div class="row clearfix">
							<div class="col-12 col">
								<!-- ## MODULE TITLE ## -->
								<div class="qcModTitle">
									<h1>Patrocinadores</h1>
									<p>patrocinadores del evento {{ event.title }}</p>
								</div>

								<!-- ## SPONSORS LIST ## -->
								<ul class="qcSposnsorList clearfix">
									{% for sponsor in sponsors %}
																				<li>
																						<a href="#" class="tips" title="{{ sponsor.title }}">
																								<img src="{{ sponsor.logo.url }}" alt="" />
																						</a>
																				</li>
									{% endfor %}

								</ul>
								<!-- ## SPONSERS LIST END ## -->
							</div>
						</div>
					</div>
					<!-- ## ROW END ## -->
					{% endif %}

				</div>
				<!-- ## PAGE 3 END ## -->



				<!-- ===============================================

					PAGE 4 - VENUE

				=============================================== -->
				<div id="tab-4" class="qcTabPage clearfix">

					<!-- ## ROW ## -->
					<div class="row clearfix">

						<!-- ## TAB TITLE ## -->
						<div class="col-5 col">
							<div class="qcTabTitle no-border">
								<h4>Lugar y Direccion<span> Evento {{ event.title }}</span></h4>
							</div>
						</div>

						<!-- ## ADDRESS LIST ## -->
						<div class="col-7 col">
                            {% if event.location_type.id != 1 %}
                                <ul class="qcAddress">
                                    <li><i class="icon-home"></i><p><strong>LUGAR</strong>: {{ event.location_name }}</p></li>
                                    <li><i class="icon-map"></i><p><strong>DIRECCION</strong>: {{ event.location_address }}</p></li>
                                    {% if event.location_address_two %}
                                        <li><i class="icon-map"></i><p><strong>DIRECCION 2</strong>: {{ event.location_address }}</p></li>
                                    {% endif %}
                                    <li><i class="icon-map"></i><p><strong>ESTADO - PAIS</strong>: {{ event.location_state }} - {{ event.location_country }}</p></li>
                                    <li><i class="icon-calendar-1"></i><p><strong>Fecha de inicio</strong>: {{ event.start_date }} {{ event.start_time }}</p></li>
                                    <li><i class="icon-calendar-1"></i><p><strong>Fecha de fin</strong>: {{ event.end_date }} {{ event.end_time }}</p></li>

                                </ul>
                            {% endif %}
						</div>

					</div>
					<!-- ## ROW END ## -->

					<!-- ## ROW ## -->
					{% if event.show_map %}
					<div class="dblBorder">
						<div class="row clearfix">
							<div class="col-12 col">

								<div class="dblBorder only"></div>

								<!-- ## VENUE MAP ## -->
								<div class="qcEventlayout">
									<h1>Mapa</h1>
									<div id="qcContactMap"></div>
									<div id="qcMapAddress" data-lat="{{event.location_address_latitude}}" data-lng="{{event.location_address_longitude}}" data-add="1600, Amphitheatre Parkway, Mountain View, CA 94043"></div>
								</div>

							</div>
						</div>
					</div>
					{% endif %}
					<!-- ## ROW END ## -->

				</div>
				<!-- ## PAGE 4 END ## -->



				<!-- ===============================================

					PAGE 5 - GALLERY

				=============================================== -->
				<div id="tab-5" class="qcTabPage clearfix">

					<!-- ## ROW ## -->
					<div class="stretch row clearfix">

						<!-- ## TAB TITLE & DESC ## -->
						<div class="col-4 col">
							<div class="qcTabTitle">
								<h4>Galeria<span>Viviendo el {{ event.title }}</span></h4>
							</div>
							<p class="qcPageDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, accusamus, sed, necessitatibus ea nemo hic molestias amet tempora fuga pariatur officia itaque eum quis rerum aliquam minus illo nulla laborum!</p>
						</div>

						<!-- ## GALLERY LIST ## -->
						<div class="col-8 col">
							<div class="video box no-border">
								<ul id="imgGallery" class="clearfix">
									{% for image in gallery %}
									<li>
										<a href="{{image.image.url}}" class="tips" title="{{event.title}}{{image.id}}" data-rel="prettyPhoto[pp_gal]">
											<img src="{{image.image.url}}" alt="{{event.title}}{{image.id}}"/>
										</a>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<!-- ## GALLERY LIST END ## -->

					</div>
					<!-- ## ROW END ## -->

				</div>
				<!-- ## PAGE 5 END ## -->


			</div>
			<!-- ## TABS END ## -->

		</div>
	</section>
	<!-- ## PAGE CONTENT END ## -->


</div>
<!-- ## CONTENT WRAPPER END ## -->


<!-- ## FOOTER ## -->
{% include "event/base/footer_view_event.html" %}
<!-- ## FOOTER END ## -->

<!-- ## LOAD JAVASCRIPTS ## -->
<script src="{% static 'js/event/2.1.1.jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/event/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/event/library.js' %}" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0ZfQL0Mxc4bnZnAtDk8bNL0-DZ18MkbM&v=3.exp&#038;ver=3.5" type="text/javascript"></script>
<script src="{% static 'js/event/init.js' %}" type="text/javascript"></script>

</body>

</html>
