{% extends "event/base/index.html" %}

{% block title_section %}
  Cronograma
{% endblock %}

{% block li_section %}
  <li><a href="{% url 'events:event_schedules' event.id %}">Cronograma</a></li>
{% endblock %}

{% block container %}
<div class="margin_30 container-fluid">
  {% include "event/base/sidebar_nav_event.html" %}
      <div class="col-md-6">
          {% if model.count > 0 %}
              {% for schedule in model %}
                  <div class="card col-md-4" id="schedule-{{schedule.id}}">
                    <img class="card-img-top"  style="width: 100%; height: 250px;" src="{{ schedule.image.url }}" alt="{{ schedule.title }}">
                    <div class="card-block" style="padding: 5px;">
                      <h4 class="card-title">{{ schedule.title|slice:":20" }}</h4>
                      <button type="button" name="button" onclick="Delete({{schedule.id}})" >Eliminar</button>
                    </div>
                  </div>
              {% endfor %}
          {% endif %}
      </div>
      <div class="col-md-4">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="btn_full green" value="Guardar">
          </form>
      </div>
</div><!-- end container -->
{% endblock %}

{% block js_specific %}
<script>
    function Delete(id) {
      $.ajax({
        url : "{% url 'events:event_delete' event.id %}" , // the endpoint
        type : "POST", // http method
        data : {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          model : 'schedule',
          id_model : id,
        }, // data sent with the post request
        // handle a successful response
        success : function(json) {
            //console.log(json); // log the returned json to the console
            $("#schedule-"+json.id).remove();
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
    }
</script>

{% endblock %}
