<ul>
    <li class="submenu">
        <a href="javascript:void(0);" class="show-submenu">Categorias <i class="icon-down-open-mini"></i></a><ul>
            {% for te in type_events %}
              <li><a href="#">{{te.tile}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="submenu">
        <a href="javascript:void(0);" class="show-submenu">Mas informacion<i class="icon-down-open-mini"></i></a><ul>
            <li><a href="index.html">Como funciona</a></li>
            <li><a href="index_12.html">Cuanto cuesta</a></li>
            <li><a href="index_2.html">With Only tours</a></li>
        </ul>
    </li>
    <li>
      <li class="submenu">
          <a href="javascript:void(0);" class="show-submenu">Ayuda<i class="icon-down-open-mini"></i></a><ul>
              <li><a href="index.html">Como funciona</a></li>
              <li><a href="index_12.html">Donde estan mis entradas?</a></li>
              <li><a href="index_2.html">Como me pongo en contacto con el organizador?</a></li>
              <li><a href="#">Centro de ayuda</a></li>
          </ul>
      </li>
    </li>
</ul>
