@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?47297592');
  src: url('font/fontello.eot?47297592#iefix') format('embedded-opentype'),
       url('font/fontello.woff?47297592') format('woff'),
       url('font/fontello.ttf?47297592') format('truetype'),
       url('font/fontello.svg?47297592#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97713987#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-video-1:before { content: '\e80b'; } /* 'î ‹' */
.icon-t-shirt:before { content: '\e800'; } /* 'î €' */
.icon-music-1:before { content: '\e897'; } /* 'î¢—' */
.icon-search-1:before { content: '\e898'; } /* 'î¢˜' */
.icon-mail-1:before { content: '\e899'; } /* 'î¢™' */
.icon-heart-1:before { content: '\e89a'; } /* 'î¢š' */
.icon-heart-empty:before { content: '\e89b'; } /* 'î¢›' */
.icon-star-1:before { content: '\e89c'; } /* 'î¢œ' */
.icon-star-empty:before { content: '\e89d'; } /* 'î¢' */
.icon-user-1:before { content: '\e89e'; } /* 'î¢ž' */
.icon-user-add:before { content: '\e8b5'; } /* 'î¢µ' */
.icon-video:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-picture:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-check:before { content: '\e8b7'; } /* 'î¢·' */
.icon-cancel:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-plus-squared:before { content: '\e8b4'; } /* 'î¢´' */
.icon-home:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-link:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-attach-1:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-eye-1:before { content: '\e8a3'; } /* 'î¢£' */
.icon-tag-1:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-bookmark:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-download:before { content: '\e802'; } /* 'î ‚' */
.icon-export:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-chat:before { content: '\e8b2'; } /* 'î¢²' */
.icon-location-1:before { content: '\e8a7'; } /* 'î¢§' */
.icon-map:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-direction:before { content: '\e8a9'; } /* 'î¢©' */
.icon-book-open:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-phone:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-cog:before { content: '\e803'; } /* 'î ƒ' */
.icon-calendar-2:before { content: '\e801'; } /* 'î ' */
.icon-mic:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-clock-1:before { content: '\e8ad'; } /* 'î¢­' */
.icon-down-open-big:before { content: '\e807'; } /* 'î ‡' */
.icon-left-open-big:before { content: '\e805'; } /* 'î …' */
.icon-right-open-big:before { content: '\e804'; } /* 'î „' */
.icon-up-open-big:before { content: '\e806'; } /* 'î †' */
.icon-shuffle-1:before { content: '\e811'; } /* 'î ‘' */
.icon-loop:before { content: '\e810'; } /* 'î ' */
.icon-play:before { content: '\e808'; } /* 'î ˆ' */
.icon-stop:before { content: '\e809'; } /* 'î ‰' */
.icon-pause:before { content: '\e80a'; } /* 'î Š' */
.icon-trophy:before { content: '\e8ae'; } /* 'î¢®' */
.icon-globe-1:before { content: '\e8af'; } /* 'î¢¯' */
.icon-paper-plane-1:before { content: '\e8b0'; } /* 'î¢°' */
.icon-suitcase:before { content: '\e8ba'; } /* 'î¢º' */
.icon-ticket:before { content: '\e8b1'; } /* 'î¢±' */
.icon-menu:before { content: '\e80f'; } /* 'î ' */
.icon-duckduckgo:before { content: '\e830'; } /* 'î °' */
.icon-aim:before { content: '\e831'; } /* 'î ±' */
.icon-delicious:before { content: '\e832'; } /* 'î ²' */
.icon-paypal:before { content: '\e833'; } /* 'î ³' */
.icon-flattr:before { content: '\e834'; } /* 'î ´' */
.icon-android:before { content: '\e835'; } /* 'î µ' */
.icon-eventful:before { content: '\e836'; } /* 'î ¶' */
.icon-smashmag:before { content: '\e837'; } /* 'î ·' */
.icon-gplus:before { content: '\e838'; } /* 'î ¸' */
.icon-wikipedia:before { content: '\e839'; } /* 'î ¹' */
.icon-lanyrd:before { content: '\e83a'; } /* 'î º' */
.icon-calendar-1:before { content: '\e83b'; } /* 'î »' */
.icon-stumbleupon:before { content: '\e83c'; } /* 'î ¼' */
.icon-fivehundredpx:before { content: '\e83d'; } /* 'î ½' */
.icon-pinterest:before { content: '\e83e'; } /* 'î ¾' */
.icon-bitcoin:before { content: '\e83f'; } /* 'î ¿' */
.icon-w3c:before { content: '\e840'; } /* 'î¡€' */
.icon-foursquare:before { content: '\e841'; } /* 'î¡' */
.icon-html5:before { content: '\e842'; } /* 'î¡‚' */
.icon-ie:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-call:before { content: '\e844'; } /* 'î¡„' */
.icon-grooveshark:before { content: '\e845'; } /* 'î¡…' */
.icon-ninetyninedesigns:before { content: '\e846'; } /* 'î¡†' */
.icon-forrst:before { content: '\e847'; } /* 'î¡‡' */
.icon-digg:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-spotify:before { content: '\e849'; } /* 'î¡‰' */
.icon-reddit:before { content: '\e84a'; } /* 'î¡Š' */
.icon-guest:before { content: '\e84b'; } /* 'î¡‹' */
.icon-gowalla:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-note-beamed:before { content: '\e8b3'; } /* 'î¢³' */
.icon-blogger:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-cc:before { content: '\e84f'; } /* 'î¡' */
.icon-dribbble:before { content: '\e850'; } /* 'î¡' */
.icon-evernote:before { content: '\e851'; } /* 'î¡‘' */
.icon-flickr:before { content: '\e852'; } /* 'î¡’' */
.icon-google:before { content: '\e853'; } /* 'î¡“' */
.icon-viadeo:before { content: '\e854'; } /* 'î¡”' */
.icon-instapaper:before { content: '\e855'; } /* 'î¡•' */
.icon-weibo:before { content: '\e856'; } /* 'î¡–' */
.icon-klout:before { content: '\e857'; } /* 'î¡—' */
.icon-linkedin:before { content: '\e858'; } /* 'î¡˜' */
.icon-meetup:before { content: '\e859'; } /* 'î¡™' */
.icon-vk:before { content: '\e85a'; } /* 'î¡š' */
.icon-plancast:before { content: '\e85b'; } /* 'î¡›' */
.icon-disqus:before { content: '\e85c'; } /* 'î¡œ' */
.icon-rss:before { content: '\e85d'; } /* 'î¡' */
.icon-skype:before { content: '\e85e'; } /* 'î¡ž' */
.icon-twitter:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-youtube:before { content: '\e860'; } /* 'î¡ ' */
.icon-vimeo:before { content: '\e861'; } /* 'î¡¡' */
.icon-windows:before { content: '\e862'; } /* 'î¡¢' */
.icon-xing:before { content: '\e863'; } /* 'î¡£' */
.icon-yahoo:before { content: '\e864'; } /* 'î¡¤' */
.icon-chrome:before { content: '\e865'; } /* 'î¡¥' */
.icon-email:before { content: '\e866'; } /* 'î¡¦' */
.icon-macstore:before { content: '\e867'; } /* 'î¡§' */
.icon-myspace:before { content: '\e868'; } /* 'î¡¨' */
.icon-podcast:before { content: '\e869'; } /* 'î¡©' */
.icon-amazon:before { content: '\e86a'; } /* 'î¡ª' */
.icon-steam:before { content: '\e86b'; } /* 'î¡«' */
.icon-cloudapp:before { content: '\e86c'; } /* 'î¡¬' */
.icon-dropbox:before { content: '\e86d'; } /* 'î¡­' */
.icon-ebay:before { content: '\e86e'; } /* 'î¡®' */
.icon-facebook:before { content: '\e86f'; } /* 'î¡¯' */
.icon-github:before { content: '\e870'; } /* 'î¡°' */
.icon-github-circled:before { content: '\e871'; } /* 'î¡±' */
.icon-googleplay:before { content: '\e872'; } /* 'î¡²' */
.icon-itunes:before { content: '\e873'; } /* 'î¡³' */
.icon-plurk:before { content: '\e874'; } /* 'î¡´' */
.icon-songkick:before { content: '\e875'; } /* 'î¡µ' */
.icon-lastfm:before { content: '\e876'; } /* 'î¡¶' */
.icon-gmail:before { content: '\e877'; } /* 'î¡·' */
.icon-pinboard:before { content: '\e878'; } /* 'î¡¸' */
.icon-openid:before { content: '\e879'; } /* 'î¡¹' */
.icon-quora:before { content: '\e87a'; } /* 'î¡º' */
.icon-soundcloud:before { content: '\e87b'; } /* 'î¡»' */
.icon-tumblr:before { content: '\e87c'; } /* 'î¡¼' */
.icon-eventasaurus:before { content: '\e87d'; } /* 'î¡½' */
.icon-wordpress:before { content: '\e87e'; } /* 'î¡¾' */
.icon-yelp:before { content: '\e87f'; } /* 'î¡¿' */
.icon-intensedebate:before { content: '\e880'; } /* 'î¢€' */
.icon-eventbrite:before { content: '\e881'; } /* 'î¢' */
.icon-scribd:before { content: '\e882'; } /* 'î¢‚' */
.icon-posterous:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-stripe:before { content: '\e884'; } /* 'î¢„' */
.icon-opentable:before { content: '\e885'; } /* 'î¢…' */
.icon-cart:before { content: '\e886'; } /* 'î¢†' */
.icon-print:before { content: '\e887'; } /* 'î¢‡' */
.icon-angellist:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-instagram:before { content: '\e889'; } /* 'î¢‰' */
.icon-dwolla:before { content: '\e88a'; } /* 'î¢Š' */
.icon-appnet:before { content: '\e88b'; } /* 'î¢‹' */
.icon-statusnet:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-acrobat:before { content: '\e88d'; } /* 'î¢' */
.icon-drupal:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-buffer:before { content: '\e88f'; } /* 'î¢' */
.icon-pocket:before { content: '\e890'; } /* 'î¢' */
.icon-bitbucket:before { content: '\e891'; } /* 'î¢‘' */
.icon-lego:before { content: '\e892'; } /* 'î¢’' */
.icon-login:before { content: '\e893'; } /* 'î¢“' */
.icon-stackoverflow:before { content: '\e894'; } /* 'î¢”' */
.icon-hackernews:before { content: '\e895'; } /* 'î¢•' */
.icon-lkdto:before { content: '\e896'; } /* 'î¢–' */
.icon-volume-off:before { content: '\e80e'; } /* 'î Ž' */
.icon-backward:before { content: '\e80d'; } /* 'î ' */
.icon-forward:before { content: '\e80c'; } /* 'î Œ' */
.icon-appstore:before { content: '\e84d'; } /* 'î¡' */